<ion-content>
  <app-avatar></app-avatar>
  <ion-card class="ion-text-center">
    <ion-card-header>
      <ion-card-subtitle>Personal Information</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item outline>
        <ion-input label="Name" labelPlacement="stacked"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="E-Mail" labelPlacement="stacked"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Phone Number" labelPlacement="stacked"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Address" labelPlacement="stacked"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
