<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="push">
      <ion-content> </ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Header</ion-title>
        </ion-toolbar>
      </ion-header>
      <div style="height: 100%; position: relative">
        <ion-router-outlet></ion-router-outlet>
      </div>
    </div>
  </ion-split-pane>
</ion-app>
