<ion-content>
  <ion-card style="max-width: 500px; margin: auto">
    <img src="assets/img/welcome-image.webp" alt="Welcome Image" />
    <ion-card-header class="ion-text-center">
      <ion-card-title
        >Manage Your Fields and Livestock Efficiently</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      Welcome to Livestock Manager! This app allows you to manage your fields
      and livestock with ease. You can upload images of your livestock and
      provide detailed information about each animal. Stay organized and keep
      track of your livestock in one convenient place.
    </ion-card-content>
  </ion-card>
</ion-content>
